<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>cuckoo 报告</title>
    <style type="text/css"></style>
</head>

<div>
    <div class="main">
        <div class="headname">
            <h1>cuckoo 报告</h1>
        </div>
        {{username}}: {{password}}
    </div>
    <div>{{ text }}</div>
    <div>{{ text2 }}</div>
    <div>{{ text3 }}</div>
</div>
</body>
</html>
